{% extends "base.html" %} {% block content %}

<h2>Danh sách sách</h2>

<h3>Lọc theo thể loại</h3>

<a href="{{ url_for('book_list') }}"> Tất cả </a>

{% for category in categories %} |
<a href="{{ url_for('book_list', category=category) }}"> {{ category }} </a>

{% endfor %}

<br /><br />

<table border="1" cellpadding="8">
  <tr>
    <th>ID</th>
    <th>Tên sách</th>
    <th>Tác giả</th>
    <th>Năm</th>
    <th>Thể loại</th>
    <th>Trạng thái</th>
  </tr>

  {% for book in books %}

  <tr>
    <td>{{ book.id }}</td>

    <td>
      <a href="{{ url_for('book_detail', book_id=book.id) }}">
        {{ book.title }}
      </a>
    </td>

    <td>{{ book.author }}</td>

    <td>{{ book.year }}</td>

    <td>{{ book.category }}</td>

    <td>
      {% if book.available %} Có thể mượn {% else %} Đã cho mượn {% endif %}
    </td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
